@import 'variables';

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font: normal normal 300 30px/36px 'Open Sans';
}

h3 {
  font: normal normal 800 24px/28.8px 'Open Sans';
}

p {
  font: normal normal 300 20px/30px 'Open Sans';
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.back-to-top {
  display: flex;
  justify-content: end;
  height: 100%;
  img {
    width: 40px;
    transition: filter 250ms;
    &:hover {
      filter: invert(1)
    }
  }
}

.stoerer-button {
  position: absolute;
  top: 22vw;
  transform: translateY(-50%);
  z-index: 100;
  right: 0;
  img{
    width: 300px;
  }
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1025px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
  .stoerer-button {
    img {
      width: 180px;
    }
  }

  .back-to-top {
    justify-content: center;
    height: auto;
  }
}


