@import "variables";

.swiper-slide {
  .content-image {
    img {
      width: 100%;
    }
  }
}

.swiper-button-prev, .swiper-button-next {
  bottom: 50px;
  transform: translateY(50%);
  top: auto;
  border: 0;
  background: transparent;
  outline: none;
  width: 65px;
  height: 65px;
  z-index: 15;
  transition: filter 250ms;
  &:after {
    content: '';
    width: 50px;
    height: 50px;
  }
  &:hover {
    filter: grayscale(1);
  }
}

.swiper-button-prev {
  &:after {
    background: url("/files/assets/layout/arrow-left.svg") 0/cover no-repeat;
  }
}
.swiper-button-next {
  &:after {
    background: url("/files/assets/layout/arrow-right.svg") 0/cover no-repeat;
  }
}

.header-slider {
  .swiper-button-prev {
    left: 17.6vw;
  }
  .swiper-button-next {
    right: 17.6vw;
  }
  .swiper-pagination {
    background-image: linear-gradient(to right, rgba(0, 122, 77, 0.85), rgba(0, 60, 88, 0.85) 40%);
    height: 100px;
    z-index: 10;
    bottom: 0;
    .swiper-pagination-bullet {
      cursor: pointer;
      display: inline-table;
      background-color: white;
      width: 18px;
      height: 18px;
      margin: 0 5px;
      border-radius: 50%;
      border: 5px solid $hell_blue;
      opacity: 1;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $green;

    }
  }

}



.blue-bg {
  .content-swiper {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto 20px;
    overflow: visible;
   /* .swiper {
      overflow: visible;
    }*/
    .content-image {
      //max-width: 1081px;
      margin: 0 auto;
      width: 95%;
    }
    .swiper-button-prev, .swiper-button-next {
      transform: translateY(0%);
      top: 50%;
      bottom: 0;
    }
    .swiper-button-prev {
      left: -8px;
    }
    .swiper-button-next {
      right: -8px;
    }
  }
  .swiper-pagination {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  .swiper-slide {
    .content-image {
      img {
        width: 100%;
        height: 85vh;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .header-slider .swiper-button-prev {
    left: 1.6vw;
  }
  .header-slider .swiper-button-next{
    right: 1.6vw;
  }

  .blue-bg .content-swiper {
    width: 95%;
    .content-image {
      width: 100%;
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
  }

  .header-slider .swiper-pagination .swiper-pagination-bullet {
    width:12px;
    height:12px;
    margin:0 3px;
    border:2px solid #0067a6;
  }

}
